.columns-container {
    background-color: #ebebeb;
    border: 1px solid #808080;
    display: flex;
    flex: 1 0;
    height: 30px;
    line-height: 30px;
    left: 20%;
    position: fixed;
    width: 80%;
}

.topbar-column {
    flex: 1 0;
    float: left;
    font-weight: lighter;
    font-size: 14px;
}
