.dropdown-container {
    background-color: #e6e6e6;
    border: 1px solid #808080;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    min-width: 150px;
}

.dropdown-container .icon {
    font-size: 18px;
    float: right;
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.dropdown-container--primary .icon {
    background-color: #649fe8;
}

.dropdown-container--primary {
    background-color: #7aadeb;
}
