.sidebar-container {
    background-color: #ebebeb;
    border: 1px solid #808080;
    height: 100%;
    left: 0;
    position: absolute;
    width: 20%;
}

.sidebar-bug-details {
    border-bottom: 1px solid #becdda;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
}
