#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

.App-header {
    background-color: #17539b;
    color: white;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.App-intro {
    font-size: large;
}
